@use 'variables';

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    width: 100%;
    background-color: white;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.495) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.495) 1px, transparent 1px);
    background-size: 30px 30px;
}


/* BUTTONS */
.search-button, .newSearch-button {
    background-color: variables.$buttonBgColor;
    color: variables.$buttonColor;
    border-radius: 5px;
    margin: 1ch;
    cursor: pointer;
    &:hover {
        background-color: variables.$buttonHoverBgColor;
        color: variables.$buttonHoverColor;
    }
}

.disabled-button {
    cursor: not-allowed;
}


//HEADER
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: variables.$searchBgColor;
    color: variables.$headerColor;
    .search-heading {
        text-align: center;
        padding: 1ch;
        max-width: 30%;
        font-family: variables.$h1Font;
    }
    .search-bar {
        padding: 1ch;
    }
    .app-article {
        margin: 1ch;
        background-color: variables.$rulesBgColor;
        text-align: justify;
        padding: 1ch;
        max-width: 25%;
    }
    .current-date {
        font-family: variables.$currentDateFont;
        margin: 1ch;
    }
}


//FORECAST HEADERS
.city-information {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: variables.$infoBgColor;
    color: variables.$infoColor;
    padding: 1ch;
}

//FORECAST
.forecast-firstsection, .forecast-secondsection {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: stretch;
    justify-items: stretch;
    margin: 2ch;
    padding: 1ch;
}

.forecast-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: variables.$cardBgColor;
    flex: 1;
    margin: 1ch;
    padding: 2ch;
    max-width: 15%;
    border-radius: 10px;
    box-shadow: variables.$cardShadow;
    .weather-img {
        width: 100px;
        height: 100px;
        margin: 1ch;
    }
    .article-date {
        font-family: variables.$dateFont;
    }
    .weather-description {
        font-family: variables.$weatherDescriptionFont;
        color: variables.$weatherColor;
    }
}

.actual-date {
    display: flex;
    flex-direction: column;
    margin: 1ch;
    text-align: center;
}

//MEDIA QUERY
@media only screen and (max-width: 800px) {
    .search {
        display: flex;
        flex-direction: column;
        .search-heading {
            max-width: 80%;
        }
        .app-article {
            max-width: 60%;
            font-size: large;
        }
    }
    .forecast-firstsection, .forecast-secondsection {
        display: flex;
        flex-direction: column;
    }
    .forecast-article {
        max-width: 100%;
        font-size: x-large;
        .weather-img {
            width: 200px;
            height: 200px;
            margin: 1ch;
        }
        .article-date {
            font-size: xx-large;
        }
        .weather-description {
            font-size: xx-large;
        }
    }
  }

