/* general */
* {
    margin: 0;
    padding: 0;
}

/* search button */
.search-button {
    cursor: pointer;
}

.search {
    text-align: center;
    max-width: 40%;
    margin: auto;
    padding: 1ch;
    background-color: lightblue;
}

.weekForecast {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: auto;
    flex: 1;
    background-color: lightpink;
    padding: 1ch;
}

.forecast-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1ch;
    background-color: lightsalmon;
}